
body {
  font-family: 'arial';
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;

  /* Center main content */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}


nav {
  background: #8a8583;
  text-align: center;
  padding: 1rem;
  position: fixed; /* Keep nav on top */
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  color: #ffffff;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ff0000;
}

main {
  padding: 2rem;
  max-width: 900px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-top: 4rem; /* Push down from nav */
  padding-bottom: 4rem; /* same height as footer */
}

footer {
  background: #1e1e2f;
  color: #ccc;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.left, .right {
  flex: 1;
  display: flex;
  justify-content: center;
}
